.card {
    margin: 10px;
    &__container {
        display: flex;
        &__profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            color: black;
            width: 22%;
        }
        &__description {
            width: 72%;
            height: auto;
            background-color: white;
            color: black;
            padding: 40px;
            text-align: justify;
        }
    }
    &__links {
        display: flex;
        width: 94%;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: black;
        padding: 10px;
    }
}

.delete {
    color: white;
    font-size: 50px;
}

.delete:hover {
    color: #EDC13E;
    font-size: 50px;
}

.pic {
    height: 240px;
    width: 240px;
}

.pic img {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 50%;
}

@supports(object-fit: cover) {
    .pic img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

button {
    background-color: white;
    padding: 10px;
    color: white;
    font-size: x-large;
}

button:hover {
    background-color: #EDC13E;
    padding: 10px;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
}