.container {
    display: flex;
    align-items: center;
    &__box {
        height: 50px;
        width: 50px;
    }
    &__box img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    @supports(object-fit: cover) {
        &__box img {
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    &__title {
        color: #EDC13E;
        font-weight: bolder;
        margin-left: 10px;
    }
}