h1 {
    text-align: center;
}

audio {
    width: 500px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #FFF;
    color: #000;
}

.beatCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 500px;
    background-color: white;
    padding: 5px;
}

.box {
    height: 300px;
}

.box img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .box img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

button {
    background-color: white;
    padding: 10px;
    color: white;
    font-size: x-large;
}

button:hover {
    background-color: #EDC13E;
    padding: 10px;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
}