.containerBeat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}