nav {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li {
            .icon {
                margin-right: 3px;
            }
            .login {
                color: black;
                background-color: #EDC13E;
                padding: 10px 10px;
            }
            .login:hover {
                color: white;
                background-color: #886602;
                padding: 10px 10px;
            }
            margin: 0.5rem;
            a {
                color: white;
                text-decoration: none;
                padding: 10px 10px;
                margin: 10px;
            }
            a:hover {
                color: #EDC13E;
                text-decoration: none;
                padding: 10px 10px;
            }
        }
    }
}

// @font-face {
//     font-family: 'The Gunslingter Waterdrop';
//     src: url('/public/fonts/the_gunslinger_waterdrop/TheGunslinger.otf');
//     src: url('/public/fonts/the_gunslinger_waterdrop/TheGunslinger.otf') format('opentype'), url('/public/fonts/the_gunslinger_waterdrop/The\ Gunslinger_DEMO.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }