.containerLyric {
    display: flex;
    justify-content: center;
    align-items: center;
    &____cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}