@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
input {
     ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
    }
     ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.7);
    }
     :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
    }
    &:focus {
        outline: 0 transparent solid;
         ::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.7);
        }
         ::-moz-placeholder {
            color: rgba(0, 0, 0, 0.7);
        }
         :-ms-input-placeholder {
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

.login-form {
    //background: #222;
    //box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    min-height: 10rem;
    margin: auto;
    max-width: 50%;
    padding: .5rem;
    color: #EDC13E;
    text-align: center;
}

.login-text {
    //background: hsl(40,30,60);
    //border-bottom: .5rem solid white;
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    padding: .5rem;
    text-align: center;
    //text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
    .fa-stack-1x {
        color: black;
    }
}

.login-username,
.login-password {
    background: transparent;
    border: 0 solid;
    border-bottom: 1px solid rgba(white, .5);
    color: white;
    display: block;
    margin: 1rem;
    padding: .5rem;
    transition: 250ms background ease-in;
    width: calc(100% - 3rem);
    &:focus {
        background: white;
        color: black;
        transition: 250ms background ease-in;
    }
}

.login-submit {
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: .25rem;
    transition: 250ms background ease-in;
    &:hover,
    &:focus {
        background: white;
        color: black;
        transition: 250ms background ease-in;
    }
}

[class*=underlay] {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 105px;
}

.underlay-photo {
    animation: hue-rotate 6s infinite;
    background: url('https://res.cloudinary.com/dkdvapfsa/image/upload/v1612270694/background_ppdgvm.jpg');
    background-size: cover;
    -webkit-filter: grayscale(30%);
    z-index: -1;
}

.underlay-black {
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

@keyframes hue-rotate {
    from {
        -webkit-filter: grayscale(30%) hue-rotate(0deg);
    }
    to {
        -webkit-filter: grayscale(30%) hue-rotate(360deg);
    }
}